<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.taetae98.iip">

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Iip">
        <activity android:name=".activity.Camera.CameraActivity"></activity>
        <activity android:name=".activity.TodayExerciseActivity"></activity>
        <activity android:name=".activity.ExerciseInformationActivity" />
        <activity android:name=".activity.TipActivity" />
        <activity android:name=".activity.RoutineActivity" />
        <activity android:name=".activity.ExerciseActivity" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.Exercise_TIP.Tip.tip_pullup"/>
        <activity android:name=".activity.Exercise_TIP.Tip.tip_pushup"/>
        <activity android:name=".activity.Exercise_TIP.Tip.tip_squat"/>
    </application>

</manifest>